{% extends 'base.html.twig' %}

{% block title %}{{ sitename }} - {{ title }}{% endblock %}

{% block body %}
{{ form(form) }}

    <div class="container text-center">

            {% for shopping in shopList %}

            <div class="row mb-4 recipe-row overflow-hidden align-items-center">
                {# 
                Number of dishes
                Number of ingredients
                Edit
                Delete
                 #}

                <div class="col-lg-2">
                    {{ shopping.date |date('Y-m-d') }}
                </div>
                <div class="col-lg-3">
                    {{ shopping.name }}
                </div>
                <div class="col-lg-1">
                    <a type="button" class="btn btn-success btn-sm" href={{ path('user_shop_view') }}>View</a>
                </div>
                <div class="col-lg-1">
                    {# <a type="button" class="btn btn-warning btn-sm" href={{ path('app_recipe', {'id': recipe.id}) }}>View</a> #}
                    <a type="button" class="btn btn-warning btn-sm" href={{ path('user_shop_edit', {'id': shopping.id}) }}>Edit</a>
                </div>
                <div class="col-lg-1">
                    <a type="button" class="btn btn-danger btn-sm" href={{ path('user_shop_delete') }}>Delete</a>
                </div>
            </div>

            {% endfor %}

    </div>
    
{% endblock %}
